.idea/
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
*.iml
.classpath_nb
.cache
.classpath
.project
/.settings/
/bin/
*.log
/config/
*.pid
*.pyc
__pycache__
.DS_Store

# Automation exclusions
automation/chrome/
automation/failure_screenshots/
automation/test-reports/
automation/src/test/resources/users.json
automation/src/test/resources/application.conf
automation/src/test/resources/firecloud-account.pem
automation/src/test/resources/trial-billing-account.pem
