jenkins/gce-custom-images/application_default_credentials.json
.bsp/
.idea/
.metals
/project/boot/
/project/metals.sbt
/project/project/
/project/plugins/project
log/
.bloop/
target/
lib_managed/
src_managed/
test-output/
failure_screenshots/
*.iml
.classpath_nb
.cache
.classpath
.project
/.settings/
/bin/
*.log
/config/
*.pid
*.pyc
__pycache__
.DS_Store

# Automation exclusions
automation/chrome/
automation/failure_screenshots/
automation/src/test/resources/users.json
automation/src/test/resources/application.conf
automation/src/test/resources/firecloud-account.pem
automation/src/test/resources/firecloud-account.json
automation/src/test/resources/trial-billing-account.pem
automation/src/test/resources/bucket-tests/translate_nbextension/
automation/output/
automation/*.ipynb
test-reports/

http/src/main/resources/application.conf
http/src/main/resources/application.conf.example

http/src/main/resources/rendered/
rendered/
