# Note: we need to stay on docker-compose version 2 because version 3 doesn't support
# configuring memory options in container mode. See discussion in:
# https://docs.docker.com/compose/compose-file/#resources
# https://github.com/docker/compose/issues/4513
version: '2.4'
services:
  jupyter:
    volumes:
      # shared with welder
      - "/mnt/disks/work:${NOTEBOOKS_DIR}"
      - "/var/lib/nvidia/lib64:/usr/local/nvidia/lib64"
      - "/var/lib/nvidia/bin:/usr/local/nvidia/bin"
    devices:
      - "/dev/nvidia-uvm:/dev/nvidia-uvm"
      - "/dev/nvidiactl:/dev/nvidiactl"
    shm_size: 256m