# Note: we need to stay on docker-compose version 2 because version 3 doesn't support
# configuring memory options in container mode. See discussion in:
# https://docs.docker.com/compose/compose-file/#resources
# https://github.com/docker/compose/issues/4513
version: '2.4'
services:
  rstudio:
    container_name: "${RSTUDIO_SERVER_NAME}"
    image: "${RSTUDIO_DOCKER_IMAGE}"
    # Override the entrypoint from the Dockerfile so rserver starts with the below environment variables
    entrypoint: "tail -f /dev/null"
    restart: always
    ports:
      - "8001:8001"
    networks:
      - app_network
    environment:
      # needed to disable auth
      USER: "rstudio"
      GOOGLE_PROJECT: "${GOOGLE_PROJECT}"
      CLUSTER_NAME: "${RUNTIME_NAME}"
      RUNTIME_NAME: "${RUNTIME_NAME}"
      OWNER_EMAIL: "${OWNER_EMAIL}"
      RSTUDIO_USER_HOME: "${RSTUDIO_USER_HOME}"
    volumes:
      - ${WORK_DIRECTORY}:/home/rstudio
    env_file:
      - /var/custom_env_vars.env
    # See https://docs.docker.com/engine/reference/run/#user-memory-constraints
    mem_limit: ${MEM_LIMIT}   # hard limit in byte on memory consumption by the container
    memswap_limit: ${MEM_LIMIT}
    shm_size: ${SHM_SIZE}
networks:
  app_network:
    external: true
