# Note: we need to stay on docker-compose version 2 because version 3 doesn't support
# configuring memory options in container mode. See discussion in:
# https://docs.docker.com/compose/compose-file/#resources
# https://github.com/docker/compose/issues/4513
version: '2.4'
services:
  welder:
    container_name: "${WELDER_SERVER_NAME}"
    image: "${WELDER_DOCKER_IMAGE}"
    ports:
      - "8080:8080"
    networks:
      - app_network
    entrypoint: "/opt/docker/bin/entrypoint.sh"
    restart: always
    environment:
      # TODO what env vars are actually needed here?
      GOOGLE_PROJECT: "${GOOGLE_PROJECT}"
      STAGING_BUCKET: "${STAGING_BUCKET}"
      CLUSTER_NAME: "${RUNTIME_NAME}"
      RUNTIME_NAME: "${RUNTIME_NAME}"
      OWNER_EMAIL: "${OWNER_EMAIL}"
      IS_RSTUDIO_RUNTIME: "${IS_RSTUDIO_RUNTIME}"
    volumes:
      # shared with jupyter
      - ${WORK_DIRECTORY}:/work
    env_file:
      - /var/google_application_credentials.env
    # See https://docs.docker.com/engine/reference/run/#user-memory-constraints
    mem_limit: ${WELDER_MEM_LIMIT}
    mem_reservation: ${WELDER_MEM_LIMIT}
    # disable swap by setting it to the same value as mem_limit
    memswap_limit: ${WELDER_MEM_LIMIT}