<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- See http://logback.qos.ch/manual/layouts.html -->
            <!-- See http://doc.akka.io/docs/akka/2.0/scala/logging.html -->
            <pattern>[%level] [%d{HH:mm:ss.SSS}] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/sam.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>rawls.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%level] [%d{HH:mm:ss.SSS}] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>127.0.0.1</syslogHost>
        <facility>AUDIT</facility>
        <suffixPattern>[%level] [%d{HH:mm:ss.SSS}] [%thread] %logger{36} - %msg%n</suffixPattern>
    </appender>

    <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
    <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>


    <logger name="org.broadinstitute.dsde" level="info" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
        <appender-ref ref="SYSLOG"/>
        <appender-ref ref="Sentry" />
    </logger>


    <logger name="akka" level="info" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
        <appender-ref ref="SYSLOG"/>
        <appender-ref ref="Sentry" />
    </logger>

    <!-- see https://github.com/slick/slick/blob/master/common-test-resources/logback.xml for more Slick logging -->

    <!--
    <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
    -->
    <!--
    <logger name="slick.jdbc.JdbcBackend.benchmark" level="DEBUG" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
    -->

    <root level="warn">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
        <appender-ref ref="SYSLOG"/>
        <appender-ref ref="Sentry" />
    </root>

</configuration>


