version: '2'
services:
  welder:
    container_name: "leo-dev-welder"
    image: "us.gcr.io/broad-dsp-gcr-public/welder-server"
    network_mode: host
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /usr/adc.json
      GOOGLE_PROJECT: "test-project"
      WORKSPACE_NAMESPACE: "test-project"
      CLUSTER_NAME: "test-cluster"
      OWNER_EMAIL: "foo@bar.com"
    volumes:
      - welder-data:/work
      - ~/.config/gcloud/application_default_credentials.json:/usr/adc.json
  jupyter:
    container_name: "leo-dev-jupyter"
    image: "us.gcr.io/broad-dsp-gcr-public/leonardo-jupyter:prod"
    network_mode: host
    volumes:
      # shared with welder
      - welder-data:/home/jupyter-user/notebooks
      - ./etc-jupyter:/etc/jupyter
      - ~/.config/gcloud/application_default_credentials.json:/usr/adc.json
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /usr/adc.json
      GOOGLE_PROJECT: "test-project"
      WORKSPACE_NAMESPACE: "test-project"
      CLUSTER_NAME: "test-cluster"
      OWNER_EMAIL: "foo@bar.com"
      WELDER_ENABLE: "true"
  proxy:
    container_name: "leo-dev-proxy"
    image: "broadinstitute/openidc-proxy:2.3.1_2"
    network_mode: host
    volumes:
      - ./cluster-site.conf:/etc/apache2/sites-enabled/site.conf
    restart: always
volumes:
  welder-data:
