{
 "language": "python",
 "display_name": "PySpark ${PY_VERSION}",
 "argv": [
  "${JUPYTER_HOME}/scripts/kernel/kernel_bootstrap.sh",
  "python${PY_VERSION}",
  "-m",
  "ipykernel_launcher",
  "-f",
  "{connection_file}"
 ],
 "env": {
  "PYSPARK_PYTHON": "python${PY_VERSION}",
  "PYTHONSTARTUP": "/usr/lib/spark/python/pyspark/shell.py",
  "PYSPARK_SUBMIT_ARGS": "--master yarn-client pyspark-shell"
 }
}
