{
 "language": "python",
 "display_name": "Python ${PY_VERSION}",
 "argv": [
  "${JUPYTER_HOME}/scripts/kernel/kernel_bootstrap.sh",
  "python${PY_VERSION}",
  "-m",
  "ipykernel_launcher",
  "-f",
  "{connection_file}"
 ]
}
