name: dependency-bot

on:
  workflow_dispatch:
  # Allows manually triggering of workflow on a selected branch via the GitHub Actions tab.
  # GitHub blog demo: https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/.

#  push:
#    branches:
#      - workflow

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Merge scala-steward PRs
      id: msp
      run: |
        export GITHUB_TOKEN=${{ secrets.BROADBOT_GITHUB_TOKEN }}

        git config --global user.email "broadbot@broadinstitute.org"
        git config --global user.name "broadbot"

        git checkout -B merged-scala-steward-prs

        while IFS= read -r pr
        do
          echo "Merging $pr"
          git fetch origin pull/${pr}/head:pr_${pr}
          git merge -m "merging" $curBranch && EXIT_CODE=$? || EXIT_CODE=$?

          if [ "${EXIT_CODE}" == "0" ]
          then
            SUCCESSFUL_PRS+=( "
        * #$pr" )
          else
            echo "Unexpected exit code: ${EXIT_CODE}"
            git rebase --abort
            UNSUCCESSFUL_PRS+=( "
        * #$pr" )
          fi
        done <<< `gh pr list | grep scala-steward | cut -d$'\t'  -f 1`
        git push origin merged-scala-steward-prs
        gh pr create --title "[No Ticket] Bump dependencies" --body "Consolidate scala-steward PRs"